@mixin container() {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 6.25%;

  @media #{$tablet} {
    min-width: 728px;
    padding: 0 2.75%;
  }

  @media #{$desktop} {
    min-width: 1200px;
    padding: 0 40px;
  }
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
