html, body {
  padding: 0;
  margin: 0;
  min-width: 1200px;
}

body {
  font-size: 14px;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
