html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v16-cyrillic_latin-regular.woff2") format("woff2"),
       url("../fonts/roboto-v16-cyrillic_latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v16-cyrillic_latin-700.woff2") format("woff2"),
       url("../fonts/roboto-v16-cyrillic_latin-700.woff") format("woff");
}

@keyframes stretching {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }

  30% {
    transform: translateX(-20px);
  }

  70% {
    transform: translateX(0px);
    z-index: 10;
  }

  100% {
    z-index: 0;
  }
}

@keyframes move-footer {
   0% {
    transform: translateX(0px);
  }

  30% {
    transform: translateX(20px);
  }

  70% {
    transform: translateX(0px);
    z-index: 10;
  }

  100% {
    z-index: 0;
  }
}
