$darkblue: #46454d;
$blue: #525a88;
$green: #86af49;
$bg-sand: rgba(200, 179, 116, 0.4);
$sand: #c8b374;
$brown: #864c24;
$black: #000000;
$white: #ffffff;


$mobile-only: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
