.background-img {
  min-height: 610px;
  background-color: $black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.background-img__caption {
  padding-top: 500px;
  text-align: center;
}

.background-img__caption h1 {
  color: $white;
  padding: 0;
  margin: 0;
  font-size: 28px;
}
