.background-img {
  background-color: $black;
  background-repeat: no-repeat;
}

.background-img__wrapper {
  @include container();
}


.background-img__caption h1 {
  color: $white;
  font-size: 28px;
}
