.certificates {
  background-color: $bg-sand;
}

.certificates__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container();
}

.certificates__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.certificates__item-link:hover {
  opacity: 0.8;
}

.certificates__item-description {
  width: 80%;
}

@media #{$tablet} {

  .certificates__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .certificates__wrapper h2 {
    width: 100%;
    text-align: center;
  }

  .certificates__item {
    width: 48%;
    align-items: center;
  }
}

@media #{$desktop} {
  .certificates__item-description {
    width: 80%;
    text-align: center;
  }
}

@media #{$desktop-l} {
  .certificates {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
    -ms-grid-column: 4;
    -ms-grid-row: 3;
    -ms-grid-column-span: 3;
    -ms-grid-row-span: 1;
    background-color: transparent;
  }

  .certificates__wrapper {
    min-width: auto;
  }

  .certificates__wrapper h2 {
    margin-bottom: 90px;
  }
}
