.certificates {
  background-color: $bg-sand;
}

.certificates__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container();
}

.certificates__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates__item-link:hover {
  opacity: 0.8;
}
