.contact {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  background-color: $bg-sand;
  color: $blue;
}

.contact__details {
  @include container();
  list-style: none;
}

.contact__item {
  margin: 0;
}
