.language-switcher {
  display: inline-block;
  position: absolute;
  width: 50px;
  max-width: 50px;
  min-width: 30px;
  font-weight: bold;
  text-align: center;
  top: 59px;
  right: 2%;
}

.language-switcher ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.language-switcher__lang-link--ru {
  display: block;
  text-decoration: none;
  color: $blue;
  background-color: $green;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 3px solid $brown;
  border-bottom: none;

  &:hover {
    background-color: $blue;
    color: $white;
  }

  &:active {
    box-shadow: inset 0 1px 0 $black;
  }
}

.language-switcher__lang-link--en {
  display: block;
  background-color: $blue;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid $brown;
  border-top: none;
  text-decoration: none;
  color: $sand;

  &:hover {
    background-color: $green;
    color: $white;
  }

  &:active {
    box-shadow: inset 0 -1px 1px $black;
  }
}
