.logo {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 80px;
}

.logo__title {
  position: relative;
  left: -1rem;
  z-index: 1;
}

.logo__face {
  position: relative;
  z-index: 0;
  top: 7px;
  left: 0;
}

@media #{$tablet} {
  .logo {
    padding-bottom: 20px;
  }
}
