.main-nav {

}

.main-nav__items {
  margin: 0;
  list-style: none;
}

.main-nav__item {

}

.main-nav__item a {
  color: $sand;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;

  &:hover {
    color: $brown;
    text-shadow: -1px 1px 1px #000000;
  }

  &:active {
    color: $brown;
    text-shadow: 1px -1px 1px #000000;
  }
}



