@media #{$desktop-l} {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    justify-items: stretch;
    align-items: stretch;
    min-width: 1440px;
  }
}
