.page-header {
  background-color: $darkblue;
}

.page-header__wrapper {
  @include container;
  position: relative;
}

@media #{$desktop} {
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media #{$desktop-l} {
  .page-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
