.page-wrapper {
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

@media #{$desktop-l} {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 122px 1fr 160px;
    justify-items: stretch;
    align-items: stretch;
  }
}
