.page-footer {
  background-color: $darkblue;
  color: $sand;
}

.page-footer h2 {
  text-transform: uppercase;
  font-size: 21px;
}

.page-footer ul {
  list-style: none;
}

.page-footer__wrapper {
  @include container();
}

.page-footer__item:last-child {
  position: relative;
}


.page-footer__item-list li {
  position: relative;
}

.page-footer__item-list a {
  color: $sand;
  text-decoration: none;

    &:hover {
    color: $brown;
    text-decoration: none;
  }
}

.page-footer__social a {
  position: relative;
  color: $sand;
  text-decoration: none;
}

.page-footer__social a:hover {
  color: $brown;
  text-decoration: none;
}

.page-footer__logo {
  position: relative;
  z-index: 1;
}

.page-footer__face {
  position: absolute;
  z-index: 0;
  top: 30px;
  left: -25px;
}

