.page-header {
  background-color: $darkblue;
}

.page-header__wrapper {
  @include container;
  position: relative;
}

@media #{$desktop} {
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
