.page-footer {
  background-color: $darkblue;
  color: $sand;
}

.page-footer h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 2px;
  text-align: center;
}

.page-footer ul {
  list-style: none;
}

.page-footer__wrapper {
  @include container();
  padding: 20px 0;
}

.page-footer__item:last-child {
  position: relative;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__contacts-list {
  padding-left: 0;
}

.page-footer__contacts-list li {
  position: relative;
  padding: 10px 0 10px 30px;
}

.page-footer__contacts-link {
  color: $sand;
  text-decoration: none;

    &:hover {
    color: $brown;
    text-decoration: none;
  }
}

.page-footer__contacts-img,
.page-footer__social-img {
  position: absolute;
  fill: $sand;
}

.page-footer__contacts-img {
  top: 10px;
  left: -10px;
}

.page-footer__contacts-link:hover .page-footer__contacts-img {
  fill: $brown;
}

.page-footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__social-link {
  position: relative;
  color: $sand;
  text-decoration: none;

  &:hover {
    color: $brown;
    text-decoration: none;
  }
}

.page-footer__social-list {
  padding-left: 0;
}

.page-footer__social-list li {
  padding: 10px 0 10px 30px;
}

.page-footer__social-img {
  top: 0;
  left: -40px;
}

.page-footer__social-link:hover .page-footer__social-img {
  fill: $brown;
}

.page-footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

.page-footer__logo-title {
  z-index: 1;
  text-align: center;
}

.page-footer__face {
  position: relative;
  left: 108px;
  top: -70px;
  width: 60px;
  z-index: 0;
  text-align: center;
}

.page-footer__copyright {
  display: block;
  text-align: center;
}

@media #{$tablet} {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }

  .page-footer__social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
  }

  .page-footer__social-list li {
    width: 25%;
  }

  .page-footer__copyright {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .page-footer__logo {
    align-self: center;
  }
}
