.page-footer {
  background-color: #46454d;
  color: #c8b374;
}

.page-footer h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 21px;
}

.page-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  @include container();
}

.page-footer__item {
  padding-top: 20px;

    &:last-child {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.page-footer__item-list li {
  position: relative;
  padding: 20px 0 20px 60px;
}

.page-footer__item-list a {
  color: #c8b374;
  text-decoration: none;

    &:hover {
    color: #864c24;
    text-decoration: none;
  }
}

.page-footer__item-list li:first-child::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  width: 32px;
  height: 26px;
  background-position: -425px -5px;
  top: 20px;
  left: 0;
}

.page-footer__item-list li:last-child::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  width: 30px;
  height: 30px;
  background-position: -751px -5px;
  top: 20px;
  left: 0;
}

.page-footer__social {
  display: flex;
  justify-content: flex-start;
}

.page-footer__social li {
  padding-top: 85px;
  margin-right: 50px;
}

.page-footer__social a {
  position: relative;
  color: #c8b374;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/sprite.png");
  }
}

.page-footer__social-link--gh::before {
  width: 32px;
  height: 32px;
  background-position: -551px -5px;
  top: -50px;
  left: 5px;
}

.page-footer__social-link--gh:hover::before {
  background-position: -593px -5px;
}

.page-footer__social-link--fb::before {
  width: 32px;
  height: 32px;
  background-position: -509px -5px;
  top: -50px;
  left: 15px;
}

.page-footer__social-link--fb:hover::before {
  background-position: -467px -5px;
}

.page-footer__social-link--vk::before {
  width: 32px;
  height: 32px;
  background-position: -875px -5px;
  top: -50px;
  left: -5px;
}

.page-footer__social-link--vk:hover::before {
  background-position: -917px -5px;
}

.page-footer__social-link--tw::before {
  width: 32px;
  height: 26px;
  background-position: -791px -5px;
  top: -45px;
  left: 10px;
}

.page-footer__social-link--tw:hover::before {
  background-position: -833px -5px;
}

.page-footer__social a:hover {
  color: #864c24;
  text-decoration: none;
}

.page-footer__logo {
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
}

.page-footer__face {
  position: absolute;
  z-index: 0;
  top: 30px;
  left: -25px;
}
