.portfolio__wrapper {
  @include container();
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio__wrapper h2 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  border: 3px solid $darkblue;
  background-color: $bg-sand;
  border-radius: 15px;

  &:last-child {
    margin-bottom: 30px;
  }
}

.portfolio__item p {
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio__item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;

  &:hover {
    opacity: 0.8;
  }
}

.portfolio__item-link--gllacy {
  background-image: linear-gradient(to top, #9db1a5, #849d8f);
}

.portfolio__item-link--sedona {
  background-image: linear-gradient(to top,#81b3d2, #5496bd);
}

.portfolio__item-link--hunt {
  background-color: $darkblue;
}

.portfolio__item-img--sedona {
  min-width: 250px;
}

.portfolio__item-img {
  text-align: center;
}

@media #{$tablet} {

  .portfolio__wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .portfolio__wrapper h2 {
    width: 100%;
  }

  .portfolio__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  .portfolio__item-link {
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .portfolio__item-description {
    width: 66%;
  }

  .portfolio__item-img--sedona {
    height: 40px;
  }
}

@media #{$desktop} {

  .portfolio__wrapper {
    flex-direction: row;
  }

  .portfolio__item {
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-bottom: 30px;
  }

  .portfolio__item-link {
    width: 100%;
    margin: 0;
  }

  .portfolio__item-description {
    width: 100%;
  }
}

@media #{$desktop-l} {
  .portfolio {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 3;
    -ms-grid-row-span: 1;
  }

  .portfolio__wrapper {
    min-width: auto;
    flex-direction: column;
  }

  .portfolio__item {
    flex-direction: row;
    width: auto;;
  }

  .portfolio__item-link {
    width: 33%;
    margin: 0 10px;
  }

  .portfolio__item-description {
    width: 66%;
  }

  .portfolio__item-img--sedona {
    height: 30%;
  }

  .portfolio__item-img--hunt {
    height: 60%;
  }
}
