.profile h2 {
  text-transform: uppercase;
}

.profile__wrapper {
  @include container();
}

@media #{$tablet} {
  .profile__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media #{$desktop} {
  .profile__wrapper {
    justify-content: space-around;
  }
}

@media #{$desktop-l} {
  .profile {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row-span: 1;
  }

  .profile__wrapper {
    flex-direction: column;
    min-width: auto;
  }
}
