.profile h2 {
  text-transform: uppercase;
}

.profile__wrapper {
  @include container();
}

@media #{$tablet} {
  .profile__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media #{$desktop} {
  .profile__wrapper {
    justify-content: space-around;
  }
}
