.resume {
  background-color: $bg-sand;
}

.resume__wrapper {
  @include container();
  padding-top: 20px;
  padding-bottom: 20px;
}

.resume__heading {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.resume__heading--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume__heading--left h2 {
  margin: 0;
}

.resume__heading--left span {
  display: block;
  color: $black;
}

.resume__download {
  display: flex;
  justify-content: flex-end;
  align-self: baseline;
  padding-top: 35px;
}

.resume__download-link {
  position: relative;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.resume__download-icon {
  position: absolute;
  top: -35px;
  right: 25px;
}

.resume__download-link:hover {
  color: $brown;
  fill: $brown;
}

.resume__unit {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid $black;

  &:last-child {
    border-bottom: none;
  }
}

.resume__unit--left {
  width: 49%;
  border-bottom: none;
}

.resume__unit--right {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
  padding-left: 9%;
  border-bottom: none;
}

.resume__study,
.resume__date,
.resume__work {
  display: block;
}

.resume__unit-icon {
  display: none;
}

.resume__container--right {
  position: relative;
}

.resume__button {
  position: absolute;
  top: -18px;
  left: 45%;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.resume__button-icon {
  position: absolute;
  height: 30px;
  &:hover {
    fill: $brown;
    cursor: pointer;
  }
}

.resume__button--off + .resume__units {
  display: none;
}

.resume__button--nojs {
  display: none;
}

.resume__button--nojs + .resume__units {
  display: block;
}

.resume__button-tooltip {
  position: relative;
}

.resume__button-tooltiptext {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: -20px;
  visibility: hidden;
  min-width: 100px;
  background-color: $darkblue;
  color: $sand;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $darkblue transparent transparent;
  }
}

.resume__button:hover .resume__button-tooltiptext {
    visibility: visible;
}

@media #{$tablet} {

  .resume__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .resume__heading {
    justify-content: flex-start;
  }

  .resume__heading--left {
    width: 50%;
  }

  .resume__download {
    width: 42.5%;
    justify-content: center;
  }

  .resume__heading--left h2 {
    padding-bottom: 8px;
  }

  .resume__unit--right {
    position: relative;
    align-items: flex-start;
    width: 35%;
    padding-left: 0;
    border-bottom: none;
  }

  .resume__study,
  .resume__work {
    padding-bottom: 20px;
  }

  .resume__unit-icon {
    display: block;
    position: absolute;
    left: -50px;
    top: 0;
    width: 35px;
  }

  .resume__unit-icon--calendar {
    top: 45px;
  }

  .resume__button {
    left: 18.5%;
  }

  .resume__button-tooltiptext {
    top: 0;
    min-width: 300px;
  }
}
