.skillset {
  margin-left: 30px;
}

.skillset__bar {
  height: 25px;
  width: 100%;
  background-color: #b3b3b3;
  border-radius: 10px;  
}

.skillset__bar span {
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
}