.skillset__caption {
  align-self: flex-start;
  padding-left: 10%;
}

.skillset__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillset h2 {
  text-align: center;
}

.skillset__bar {
  width: 80%;
  background-color: #b3b3b3;
  border-radius: 10px;
}

.skillset__bar span {
  color: $white;
}

.skillset__else {
  width: 100%;
  padding-top: 20px;
}

.skillset__else-caption {
  padding-left: 20px;
  font-weight: bold;
  font-size: 16px;
}

@media #{$tablet} {
  .skillset {
    order: 2;
    width: 90%;
  }

  .skillset__else {
    width: 80%;
  }
}

@media #{$desktop} {
  .skillset {
    order: 1;
    width: 33%;
  }
}

@media #{$desktop-l} {
  .skillset {
    width: auto;
  }

  .skillset--visible {
    display: block;
  }

  .skillset--hidden {
    display: none;
  }

  .skillset h2 {
    margin-top: 0;
  }
}
