.video {
  @include container();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.video h2 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media #{$tablet} {

  .video {
    padding-bottom: 20px;
  }

  .video video {
    width: 480px;
    height: 320px;
  }
}

@media #{$desktop-l} {
  .video {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row-span: 1;
    min-width: auto;
  }

  .video video {
    width: 320px;
  }
}
