.video {
  @include container();
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

.video h2 {
  margin: 0;
  padding-top: 20px;
  text-align: center;
}
