.welcome {
  background-color: $bg-sand;
}

.welcome__wrapper {
  @include container();
  position: relative;
}

.welcome__wrapper h2 {
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: $brown;
  text-align: center;
}

.welcome__info {
  display: block;
  justify-content: center;
  padding-bottom: 20px;
}

.welcome__info p {
  padding: 0;
}
