.welcome {
  background-color: $bg-sand;
}

.welcome__container {
  @include container();
  position: relative;
}

.welcome__container h2 {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: $brown;
}

.welcome__toggle {
  display: block;
  justify-content: center;
  background-color: $bg-sand;
}

.welcome__toggle--on {
  display: flex;
}

.welcome__toggle p {
  @include container();
}
